:root {
    --claro: #7d7dfb;
    --medio: #3333fa;
    --escuro: #3d3d7a;
    --medio-escuro: #18187a;
    --card: #333d68;


}

* {
    margin: 0;
    padding: 0;   
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin-left: 70px;
    color: white;
}

/* navegação */

#navegacao {
    position: fixed;
    z-index: 1;
}

nav {
    text-align: right;
    padding: 12px;
    background-color: var(--medio-escuro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.432);

}

nav a {
    margin-right: 70PX;
    text-decoration: none;
    color: white;
    padding-bottom: 4px ;
    border-bottom: 4PX solid  rgba(255, 255, 255, 0);
}

nav a:hover {
    padding-bottom: 4px ;
    border-bottom: 4PX solid white;
    transition: 0.5s;
    border-radius: 30%;
}

/* lista de exercicios */
.menu-lateral {
    padding-top: 70px;
    width: 30vh;
    height: calc(100vh - 70px) ;
    color:white;
    background-color: var(--card);
    position: fixed;
    display: flex;
    overflow: auto;
}

.menu-lateral-lista {
    list-style: none;
    width: 100%;
}

.menu-lateral-lista li{
    padding: 10px;
    padding-left: 25px;
    list-style: none;
}

.menu-lateral-lista li a {
    text-decoration: none;
    color: white;
}

.menu-lateral-lista li:hover {
    background-color: var(--medio);
}

.container {
    position: relative;
}

.conteudo {
    padding: 70px 0 0 0;
    position: absolute;
    left: 30vh;
    background-color: var(--escuro);
    width:calc(100% - 30vh)
}

.conteudo-titulo {
    background-color: rgba(195, 206, 228, 0.633);
    padding: 3rem;
    border-radius: 5px;
    text-align: center;
    margin: 0rem 10%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.562);
}

.conteudo-dupla {
    display: flex;
    justify-content:center;
    background-color: rgba(131, 155, 201, 0.633);
    margin: 2rem 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.562);
    flex-wrap: wrap;
}

.conteudo-card {
    text-align:center; 
    background-color: var(--card);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
}
.conteudo-card h2 {
    padding-bottom: 1rem;
    color: white;
}
.conteudo-exercicio img {
    max-width: 450px;
    padding-bottom: 1rem;
    border-radius: 5px;
}

.conteudo-exercicio p {
    padding: 0.5rem;
    background-color: rgb(197, 198, 227);
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 435px;
} 

.conteudo-exercicio p{
    text-align: justify;
}

.acesso-pagina{
    background-color: var(--medio-escuro);
    padding: 0.5rem;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.acesso-pagina:hover {
    background-color: var(--medio);
}

#brasileiro, #brasileiro2 {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px 0px;
    background-color: var(--medio-escuro);
    position: absolute;
    width: 100%;
    
}

.social{
    display: flex;
}

.social a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    margin: 22px 10px;
    color: rgb(39, 0, 145);
    text-decoration: none;
    font-size: 25px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

@media (max-width: 1590px){
    .conteudo-dupla {
        flex-direction: column;
    }
    .conteudo-card {
        margin: 2% 10%;
    }
}


@media (max-width: 1024px){
    
    .menu-lateral {
        width: 20vh;
    }

    .menu-lateral-lista li{
        padding-left: 10px;
    }

    .conteudo {
        left: 20vh;
        width:calc(100% - 20vh)
    }

}

@media (max-width: 900px) {
   
    nav {
        padding: 2px;
    }
    nav h1 {
        margin: 10px;

        font-size: 16px;
    }
    
    nav a {
        margin-right: 1rem;
        text-decoration: none;
    }


    .menu-lateral {
        display: none;
    }

    .conteudo {
        left: 0vh;
        width:100%; 
    }

    .conteudo-titulo {
        padding: 1%;
        border-radius: 10px;
        margin: 0rem 5%;
    }

    .conteudo-dupla {
        background-color: transparent;
        box-shadow: none;
    }
    
    .conteudo-card {
        padding: 3%;
        padding-bottom: 3%;
        margin: 0.5rem -6%;
    }
    .conteudo-card h2 {
        padding-bottom: 1%;
    }
    .conteudo-exercicio img {
        max-width: 95%;
        padding-bottom: 2%;
    }
    
    .conteudo-exercicio p{
        width: 95%;
        margin: auto;
        margin-bottom: 3%;
        
        text-align: justify;
        font-size: 80%;
    }

    .acesso-pagina{
        padding: 0.5rem;
        font-size: 70%;
    }

    footer {
        padding: 20px 0px;
    }
}