* {
    margin: 0;
    padding: 0;    
}
body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-left: 70px;
    color: white;
}

/* navegação */

#navegacao {
    position: fixed;
}

nav {
    text-align: right;
    padding: 12px;
    background-color: rgb(39, 0, 145);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

nav a {
    margin-right: 70PX;
    text-decoration: none;
    color: white;
    padding-bottom: 4px ;
    border-bottom: 4PX solid  rgba(255, 255, 255, 0);
}

nav a:hover {
    padding-bottom: 4px ;
    border-bottom: 4PX solid white;
    transition: 0.5s;
    border-radius: 30%;
}

hr {
    width: 100%;
    height: 5px;
    background-color:black;
    border: none;
}


/* lista de exercicios */
.menu-exercicios {
    width: 30vh;
    height: 100;
    color:white;
    background-color: rgb(35, 9, 107);
    
    
}

.menu-exercicio-lista {
    list-style: none;;
    
}

.menu-exercicio-lista li{
    padding: 10px;
    padding-left: 25px;
    list-style: none;
}

.menu-exercicio-lista li a {
    text-decoration: none;
    color: white;
}

.menu-exercicio-lista li:hover {
    background-color: rgb(39, 0, 145);
}

.container {
    display: flex;
    padding-top: 50px;
}

.conteudo {
    width: 100%;
    background-color: rgb(118, 118, 255);
    
   
}

.titulo {
    background-color: white;
    padding: 5%;
    margin: 15px;
    margin-bottom: -25px;
    border-radius: 15px;
    text-align: center;
}

.lista-exercicios {
    
    margin: 5%;
}

ul {
    list-style: none;
}

ul li {
    padding-bottom: 30px;
}

table {
    background-color:rgb(192, 198, 221);
    border-radius: 25px;
    padding: 10px 110px;
    
    width: 100%;
}

table tr {
    text-align: center;
    display: flex;
    justify-content:center;
}

table tr th{
    padding-bottom: 10px;
    font-size: 36px;
    color: white;
}

.td-texto {
    width: 100%;
    padding-right: 45px;
    display: flex;
}

.td-texto p {
    border-radius: 10px;
    padding: 80px 50px 80px 56px;
    background-color: white;
}

img {
    width: 500px;
    border-radius: 6px;
}

.botao {
    padding: 30px;
}

.acesso-pagina{
    background-color: rgb(39, 0, 145);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border:1px solid white;
}

.acesso-pagina:hover {
    background-color: rgb(192, 198, 221);
}


/* rodapé */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px;
    background-color: rgb(39, 0, 145);    
}

.social{
    display: flex;
}

.social a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    margin: 22px 10px;
    color: rgb(39, 0, 145);
    text-decoration: none;
    font-size: 25px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}